<section class="all-asmrtists-table-container text-center mt-3">
    <table class="table table-hover w-25">
        <thead>
            <tr>
                <th style="background-color: black; color: white;">ASMRtist</th>
            </tr>
        </thead>
        <tbody>
            <% asmrtists.forEach((asmrtist)=> { %>
                <tr>
                    <td>
                        <a href="/asmrtists/<%= asmrtist.id %>">
                            <%= asmrtist.name %>
                        </a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</section>