<section class="category-by-id">
    <div>
        <img src="<%= category.name %>" alt="<%= category.name %>">
    </div>
    <div>
        <h2><%= category.name %></h2>
        <p><%= category.description %></p>
    </div>
</section>