<nav>
    <div class="nav-link">
        <a href="/categories">Categories</a>
    </div>
    
    <div class="logo">
        <a href="/">
            <p><i class="fa-solid fa-headphones"></i> ASMR Haven</p>
        </a>
    </div>
    
    <div class="nav-link">
        <a href="/asmrtits">ASMRtists</a>
    </div>
</nav>