<nav>
    <div>
        <a href="/categories">Categories</a>
    </div>
    <div class="logo">
        <p><i class="fa-solid fa-headphones"></i> ASMR Haven</p>
    </div>
    <div>
        <a href="/asmrtits">ASMRtists</a>
    </div>
</nav>