<form method="POST" action="/categories/new" class="new-category-form">
    <h2 class="text-center">New Category</h2>
    
    <div>
        <label for="name">ASMRtist (required):</label>
        <input type="text" id="name" name="name" placeholder="Made In France ASMR" required>
    </div>
    
    <div>
        <div>
            <label for="yt_channel">YouTube Channel:</label>
            <input type="url" id="yt_channel" name="yt_channel" placeholder="https://www.youtube.com/@MadeInFranceASMR">
        </div>
    </div>
    
    <div class="new-asmrtist-form-submit-button text-center">
        <button type="submit">Post</button>
    </div>
</form>
