<form method="POST" action="/new">
    <h2>New Category</h2>
    
    <div>
        <label for="category">*Category:</label>
        <input type="text" id="category" name="category" placeholder="Zara" required>
    </div>
    
    <div>
        <div>
            <label for="description">Description:</label>
        </div>
        <div>
            <textarea type="text" id="description" name="description" placeholder="Look..." rows="5" cols="50"></textarea>
    
        </div>
    </div>
    
    <div>
        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg">
    </div>
    
    <div>
        <button type="submit">Post</button>
    </div>
    
    <div>
        <a href="/">Home</a>
        <a href="/categories">View All Categories</a>
    </div>
</form>
