<form method="POST" action="/new">
    <h2>New Category</h2>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" placeholder="Zara">
    </div>
    <div>
        <label for="description">Message:</label>
        <input type="text" id="description" name="description" placeholder="Look...">
    </div>
    <div>
        <label for="image">Image:</label>
        <input type="image" id="image" name="image">
    </div>
    <div>
        <button type="submit">Post</button>
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/categories">View All Categories</a>
    </div>
</form>