<form method="POST" action="/categories/new" class="new-category-form">
    <h2 class="text-center">New Category</h2>
    
    <div>
        <label for="name">Category (required):</label>
        <input type="text" id="name" name="name" placeholder="Nature Sounds" required>
    </div>
    
    <div>
        <div>
            <label for="description">Description:</label>
        </div>
        <div>
            <textarea type="text" id="description" name="description" placeholder="Natural ambient sounds such as leaves rustling, wind blowing, or birds chirping" rows="5" cols="50"></textarea>
    
        </div>
    </div>
    
    <div>
        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg" style="width: 230px;">
    </div>

    <div>
        <p>Associate ASMRtists:</p>
        <p>Currently, the following ASMRTists exist in your inventory.</p>
        <ul>
            <% allAsmrtists.forEach(asmrtist => { %>
                <li>
                    <label>
                        <input 
                            type="checkbox" 
                            name="selectedAsmrtists" 
                            value="<%= asmrtist.id %>"
                        />
                        <%= asmrtist.name %>
                    </label>
                </li>
            <% }) %>
        </ul>
    </div>
    
    <div class="new-category-form-submit-button text-center">
        <button type="submit">Post</button>
    </div>
</form>
