<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <header>
                <h2 class="text-center">All ASMRtists</h2>
            </header>
            <div class="add-new-asmrtist text-center">
                <a href="asmrtists/new">Add</a>
            </div>
            <%- include('../partials/allASMRtistsSection') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>