<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <header>
                <h2>All Categories</h2>
            </header>
            <%- include('../partials/allCategoriesSection') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>