<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>
        <main class="delete-asmrtist-form-container">
            <%- include('../partials/deleteASMRtistForm') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>