<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>
        <main class="edit-category-form-container">
            <%- include('../partials/editCategoryForm') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>