<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>
        <main class="new-asmrtist-form-container">
            <%- include('../partials/newASMRtistForm') %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>